<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Uzupełnij poniższe dane:</h1>
<form action="#" th:action="@{/personform}" th:object="${person}" method="post"
      onSubmit="document.add.tekst.value=document.add.tekst_form.value;document.add.tekst_form.value=''">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
    <p>Email Adress: <input type="text" th:field="*{emailAdress}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<script>

</script>
<h2>Historia</h2>
<style> td { border: 1px solid black; } </style>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    <tr th:each="history : ${history}">
        <td th:text="${history.getId()}"/>
        <td th:text="${history.getName()}"/>
        <td th:text="${history.getSurname()}"/>
        <td th:text="${history.getPhoneNumber()}"/>
        <td th:text="${history.getEmailAdress()}"/>
    </tr>
</table>
</body>
</html>